body {
  background-image: linear-gradient(#1e3c72, #2a5298);
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100%;
  color: #fff;
}

body * {
  font-family: Ubuntu;
}

.logo {
  position: relative;
  left: 200px;
}
a {
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.wrapper > h1 {
  text-align: center;
  margin: 100px auto;
  font-size: 2.4em;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  justify-self: center;
}

nav {
  justify-self: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
}
nav li a {
  font-size: 18px;
  color: white;
}
nav li a:hover {
  color: chocolate;
}
.button {
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 16px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000000;
  border-radius: 20px;
  position: relative;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.article > h2 > a {
  color: #000000;
}
.article-date {
  font-weight: 900;
}
.article > p {
  font-size: 24px;
  padding: 5px;
}

.article .author {
  padding: 10px;
  background: #00dba0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  color: #0f121f;
}

.article-detail .article {
  padding: 0;
}

.article-detail .article img {
  max-width: 100%;
}

.article-detail .article h2 {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}

.article-detail .article h3 {
  text-align: center;
}

.article-detail .article p {
  margin: 10px 20px;
}

.site-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
  width: 700px;
  border: 1px solid #00dba0;
  padding: 50px 50px 50px 30px;
}
.site-form label {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.site-form input,
.site-form textarea {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
}
.create-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a.highlight {
  border: 1px solid #00dba0;
  padding: 10px;
  border-radius: 4px;
  color: #00dba0;
}

.helptext,
.helptext ul {
  margin: 0 auto 20px;
  color: #bbb;
  font-size: 14px;
  display: block;
}

.errorlist li {
  padding: 10px;
  list-style-type: none;
  border: 1px solid #ff5722;
  margin: 10px 0;
  color: #ff5722;
}

.errorlist {
  padding: 0;
}

.site-form input[type="submit"] {
  background: #00dba0;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
  margin: 10px 0;
}
